
<H1>Data Science Tools and Ecosystem</H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 - List popular languages for Data Science.
 - List popular libraries used for data science
 - Open source tools used for data science.
 - Learn using arithmetic operations.
 - Learn to create table in jupyter notebook.

Some of the popular languages that Data Scientists use are:
1.Python
2.Java
3.R

Some of the commonly used libraries used by Data Scientists include:
1.Numpy
2.Pandas
3.Matplotlib
4.Seaborn
5.Sckit-learn

|Data Science Tools|
-----
Hadoop
Neo4j
Knime

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [7]:
print((3*4)+5)
#This a simple arithmetic expression to mutiply then add integers.

17

In [9]:
print((200)/60)
# This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

<h2>Author</h2>
Dhananjay YAdav